
  
@keyframes move{
    0% {
        transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        transform:  translate(-10px,14px)  scaleX(0.95) scaleY(0.95) ;
    }
    20% {
        transform:  translate(10px,2px)  rotate(1deg) scaleX(0.89) scaleY(0.89) ;
    }
    30% {
        transform:  translate(-10px,-16px)  rotate(1deg) scaleX(0.84) scaleY(0.84) ;
    }
    40% {
        transform:  translate(10px,-7px)  rotate(2deg) scaleX(0.86) scaleY(0.86) ;
    }
    50% {
        transform:  translate(-10px,1px)  rotate(2deg) scaleX(0.89) scaleY(0.89) ;
    }
    60% {
        transform:  translate(10px,10px)  rotate(3deg) scaleX(0.91) scaleY(0.91) ;
    }
    70% {
        transform:  translate(-10px,-3px)  rotate(3deg) scaleX(0.93) scaleY(0.93) ;
    }
    80% {
        transform:  translate(10px,-16px)  rotate(4deg) scaleX(0.95) scaleY(0.95) ;
    }
    90% {
        transform:  translate(-10px,-16px)  rotate(4deg) scaleX(0.98) scaleY(0.98) ;
    }
    100% {
        transform:  translate(0px, 0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
  


@-moz-keyframes move{
    0% {
        -moz-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -moz-transform:  translate(-10px,14px)  scaleX(0.95) scaleY(0.95) ;
    }
    20% {
        -moz-transform:  translate(10px,2px)  rotate(1deg) scaleX(0.89) scaleY(0.89) ;
    }
    30% {
        -moz-transform:  translate(-10px,-16px)  rotate(1deg) scaleX(0.84) scaleY(0.84) ;
    }
    40% {
        -moz-transform:  translate(10px,-7px)  rotate(2deg) scaleX(0.86) scaleY(0.86) ;
    }
    50% {
        -moz-transform:  translate(-10px,1px)  rotate(2deg) scaleX(0.89) scaleY(0.89) ;
    }
    60% {
        -moz-transform:  translate(10px,10px)  rotate(3deg) scaleX(0.91) scaleY(0.91) ;
    }
    70% {
        -moz-transform:  translate(-10px,-3px)  rotate(3deg) scaleX(0.93) scaleY(0.93) ;
    }
    80% {
        -moz-transform:  translate(10px,-16px)  rotate(4deg) scaleX(0.95) scaleY(0.95) ;
    }
    90% {
        -moz-transform:  translate(-10px,-16px)  rotate(4deg) scaleX(0.98) scaleY(0.98) ;
    }
    100% {
        -moz-transform:  translate(0px, 0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
  
@-webkit-keyframes move {
    0% {
        -webkit-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -webkit-transform:  translate(-10px,14px)  scaleX(0.95) scaleY(0.95) ;
    }
    20% {
        -webkit-transform:  translate(10px,2px)  rotate(1deg) scaleX(0.89) scaleY(0.89) ;
    }
    30% {
        -webkit-transform:  translate(-10px,-16px)  rotate(1deg) scaleX(0.84) scaleY(0.84) ;
    }
    40% {
        -webkit-transform:  translate(10px,-7px)  rotate(2deg) scaleX(0.86) scaleY(0.86) ;
    }
    50% {
        -webkit-transform:  translate(-10px,1px)  rotate(2deg) scaleX(0.89) scaleY(0.89) ;
    }
    60% {
        -webkit-transform:  translate(10px,10px)  rotate(3deg) scaleX(0.91) scaleY(0.91) ;
    }
    70% {
        -webkit-transform:  translate(-10px,-3px)  rotate(3deg) scaleX(0.93) scaleY(0.93) ;
    }
    80% {
      -webkit-transform:  translate(10px,-16px)  rotate(4deg) scaleX(0.95) scaleY(0.95) ;
    }
    90% {
        -webkit-transform:  translate(-10px,-16px)  rotate(4deg) scaleX(0.98) scaleY(0.98) ;
    }
    100% {
        -webkit-transform:  translate(0px, 0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
  
@-o-keyframes move {
    0% {
        -o-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -o-transform:  translate(-10px,14px)  scaleX(0.95) scaleY(0.95) ;
    }
    20% {
        -o-transform:  translate(10px,2px)  rotate(1deg) scaleX(0.89) scaleY(0.89) ;
    }
    30% {
        -o-transform:  translate(-10px,-16px)  rotate(1deg) scaleX(0.84) scaleY(0.84) ;
    }
    40% {
        -o-transform:  translate(10px,-7px)  rotate(2deg) scaleX(0.86) scaleY(0.86) ;
    }
    50% {
        -o-transform:  translate(-10px,1px)  rotate(2deg) scaleX(0.89) scaleY(0.89) ;
    }
    60% {
        -o-transform:  translate(10px,10px)  rotate(3deg) scaleX(0.91) scaleY(0.91) ;
    }
    70% {
        -o-transform:  translate(-10px,-3px)  rotate(3deg) scaleX(0.93) scaleY(0.93) ;
    }
    80% {
        -o-transform:  translate(10px,-16px)  rotate(4deg) scaleX(0.95) scaleY(0.95) ;
    }
    90% {
        -o-transform:  translate(-10px,-16px)  rotate(4deg) scaleX(0.98) scaleY(0.98) ;
    }
    100% {
        -o-transform:  translate(0px, 0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}
  
@-ms-keyframes move {
    0% {
        -ms-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
    10% {
        -ms-transform:  translate(-10px,14px)  scaleX(0.95) scaleY(0.95) ;
    }
    20% {
        -ms-transform:  translate(10px,2px)  rotate(1deg) scaleX(0.89) scaleY(0.89) ;
    }
    30% {
        -ms-transform:  translate(-10px,-16px)  rotate(1deg) scaleX(0.84) scaleY(0.84) ;
    }
    40% {
        -ms-transform:  translate(10px,-7px)  rotate(2deg) scaleX(0.86) scaleY(0.86) ;
    }
    50% {
        -ms-transform:  translate(-10px,1px)  rotate(2deg) scaleX(0.89) scaleY(0.89) ;
    }
    60% {
        -ms-transform:  translate(10px,10px)  rotate(3deg) scaleX(0.91) scaleY(0.91) ;
    }
    70% {
        -ms-transform:  translate(-10px,-3px)  rotate(3deg) scaleX(0.93) scaleY(0.93) ;
    }
    80% {
        -ms-transform:  translate(10px,-16px)  rotate(4deg) scaleX(0.95) scaleY(0.95) ;
    }
    90% {
        -ms-transform:  translate(-10px,-16px)  rotate(4deg) scaleX(0.98) scaleY(0.98) ;
    }
    100% {
        -ms-transform:  translate(0px,0px)  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
    }
}


@keyframes rotate {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

@keyframes pop {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fade {
    from {
        z-index:1000;
        opacity: 0;
    }
    to {
        z-index:1000;
        opacity: 1;
    }
}

@keyframes bgGradient {
    // from {
    //     background:linear-gradient(190deg,#e66465,rgba(255,0,0,0) 70.71%),linear-gradient(-50deg,#b45eb7,#2c59ed),linear-gradient(300deg,rgba(0,0,255,.8),rgba(0,0,255,0) 70.71%);
    // }

    // to {
    //     background:linear-gradient(0deg,#e66465,rgba(255,0,0,0) 70.71%),linear-gradient(-50deg,#b45eb7,#2c59ed),linear-gradient(300deg,rgba(0,0,255,.8),rgba(0,0,255,0) 70.71%);
    // }
    0%{
        background-position:50% calc(50% - 2px);
        background-size: 0%;
    }
    // 50%{
    //     background-position:40% 100%;
    // }
    99%{
        background-size: 100%;
        background-position:50% calc(50% - 2px);
    }
    100%{
        background-size: 100%;
        background-position:50% 50%;
    }
}
