@use "sass:list";
@import 'variables';
@import 'animations';

.circle {
    position: relative;
    width: 100%;
    border-radius: 100%;
    opacity: 0;
    animation: fade 0.5s 0.8s forwards cubic-bezier(.67,1.09,0,-0.61);
}

.rotate {
    animation: rotate infinite 60s linear;
    -webkit-animation: rotate infinite 60s linear;
}
.rotate-reverse {
    animation: rotate infinite 60s linear reverse;
    -webkit-animation: rotate infinite 60s linear reverse;
}

.popper {
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
}
.pop {
    animation: pop 1 1s forwards;
    -webkit-animation: pop 1 1s forwards;

}

#popup-box {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: -1000;
    opacity: 0;

    &.show {
        animation: fade .5s forwards;
        -webkit-animation: fade .5s forwards;
    }

    .popupHidder {
        position: absolute;
        cursor: pointer;
        top:0;
        left:0;
        height: 100vh;
        width: 100vw;
        background: rgba(0,0,0,0.5);
    }
}
#popup {
    //display: none;
    position: fixed !important;
    top: 50%;
    left:50%;
    padding: 20px;
    min-height: 10vh;
    background: var(--s2);
    transform: translate(-50%, -50%);
    border-radius: 10px;
    


    .popupClose {
        position: relative;
        float: right;
        margin-top: -5px;
        cursor: pointer;
    }

    .popupTitle {
        color: var(--p1);
    }

    .popupContent {
        margin: 10px 0; 
        font-weight: var(--light);
        font-size: var(--t20);
        color: var(--p2);
    }

    .popupLink {
        font-size: var(--t20);
        float: right;
    }
}


$listTypes: 'α', 'β', 'γ', 'δ', 'ε', 'ζ', 'η', 'θ', 'ι', 'κ', 'λ', 'μ', 'ν', 'ξ', 'ο', 'π', 'ρ', 'σ', 'τ', 'υ', 'φ', 'χ', 'ψ', 'ω';
.section ul {
    margin: 0.8em 0;
    // list-style: bengali;
    // list-style-type: disc;
    list-style: none;
    padding-left: 30px;
    li {
        padding: 0.2em;
        counter-increment: li;
    }
    li::before {
        content: counter(li);
        // content: '-';
        // background: linear-gradient(90deg, rgba(140,102,222,1) 0%, rgba(165,101,150,1) 36%, rgb(226, 153, 122) 100%);
        background: linear-gradient(125deg, rgba(140,102,222,1) 0%,rgb(226, 153, 122) 100%);
        background-clip: text;
        font-weight: var(--semilight);
        color: transparent;
        margin-right: 10px;
        margin-left: -25px;
    }
    @for $i from 1 through length($listTypes) {
        $listType: nth($listTypes, $i);

        li:nth-child(#{$i}):before {
            content: $listType + '.';
        }
    }
}

strong {
    background: linear-gradient(90deg, rgba(140,102,222,1) 0%, rgba(165,101,150,1) 36%, rgb(226, 153, 122) 100%);
    background-clip: text;
    color: transparent;
}
section .section-content a {
    position: relative;
    display: inline-block;
    color: inherit;
    text-decoration: none !important;
    &:hover {
        background: linear-gradient(90deg, rgba(140,102,222,1) 0%, rgba(165,101,150,1) 36%, rgb(226, 153, 122) 100%);
        background-clip: text;
        color: transparent;
    }
    &::after {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        // bottom: -0.15em;
        bottom: 0;
        left: 0;
        background: linear-gradient(90deg, rgba(140,102,222,1) 0%, rgba(165,101,150,1) 36%, rgb(226, 153, 122) 100%);
    }
    // background-clip: text;
    // color: transparent;
}

.section-links a {
    border-bottom: 2px solid transparent;
    transition: border .2s;
    border-radius: 0 0 5px 5px;
}
.section-links a:hover {
    border-bottom: 2px solid #c2846b;
}

pre {
    position: relative;
    color: #f66d9b;
    border-radius: 10px;
    padding: 15px 20px;
    background: var(--p1);
    display: block;
    overflow-x: scroll;
    user-select: all;
}

footer {
    margin-top: 200px;
}